<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="BULKSMSBD_API_KEY" value="test_api_key_123"/>
        <env name="BULKSMSBD_SENDER_ID" value="8801700000000"/>
        <env name="BULKSMSBD_BASE_URL" value="https://bulksmsbd.net"/>
        <env name="BULKSMSBD_THROW_EXCEPTIONS" value="true"/>
    </php>
</phpunit>
